*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(58, 58, 58);
}
header, nav, aside, section{
    margin: 10px;
    border: solid rgb(192, 192, 192);
    border-radius: 5px;
    background-color: rgb(22, 22, 22);
}
header {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:aliceblue;
}
.navi ul, a{
    display: flex;
    padding:5px;
    justify-content: space-evenly;
    list-style-type: none;
    color: white;
    text-decoration: none;
}
.navi a:hover{
    background-color: rgb(82, 82, 82);
}
main{
    display: flex;
}
section, aside{
    color: rgb(209, 209, 209);
    padding: 5px;
    /* margin-top: 10px; */
}
aside{
    width: 20%;
}
section{
    width: 80%;
}
section h2, aside h2{
    color:rgb(255, 230, 253)
}
section img{
    margin-bottom: 0;
    border:white solid 3px;
    width:100%
}
#kittyEx {
    color:red;
}
footer{
    margin: 10px;
    border-radius: 5px;
    border: black solid;
    background-color: rgb(216, 216, 216);
    text-align: center;
}
nav{
    top: 0px;
    position: sticky;
    width: 97.8%;
}



